@font-face {
    font-family: Barmeno-Regular;
    src: url(./font/Barmeno\ Regular.ttf);
}
@font-face {
    font-family: Barmeno-Medium;
    src: url(./font/Barmeno\ Medium.otf);
}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(./font/MYRIADPRO-REGULAR.OTF);
}


:root {
    --bareto-brown: #593305;
    --bareto-yellow: #fec800;
    --light-color: white;
    /* --light-color: #ffe4c0; */
    --dark-color: black;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--light-color);
}


body {
    background-color: var(--light-color);
}

.show {
    display: block !important;
}

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 8px rgba(0,0,0,.6); */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 99;
    background-color: var(--light-color);
}
.header img {
    height: 60%;
}



.home-page {
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
    height: calc(100vh - 80px);
    position: relative;
}
.background-wrapper {
    width: 100%;
    height: 100%;
}
.home-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.home-page a {
    width: 100%;
    position: absolute;
    bottom: 90px;
    color: var(--light-color);
    text-align: center;
    z-index: 99;

    font-family: MyriadPro-Regular;
    font-size: 24px;
}
.home-page a p {
    margin: 0;
}
.home-page a img {
    width: 100px;
    height: 100px;
}

.background-wrapper:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    z-index: 1;
}


.content {
    margin: auto;
    /* margin-top: 80px; */
    max-width: 700px;
    padding: 100px 20px;
    overflow: hidden;
}



.filters {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 10px;
    margin-bottom: 70px;
}

.filter-chip {
    padding: 7px 25px;
    border-radius: 12px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: var(--bareto-brown);
    cursor: pointer;

    font-family: MyriadPro-Regular;
    text-align: center;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
}
.filter-chip img {
    height: 20px;
}
.filter-chip p {
    display: inline;
    vertical-align: middle;
    margin: 0;
}
.filter-chip.active {
    background-color: var(--bareto-yellow);
    box-shadow: var(--bareto-yellow) 0px 1px 3px 0px, var(--bareto-yellow) 0px 0px 0px 1px;
}

#all-filter {
    /* flex-basis: 100%; */
    /* flex-grow: 1; */
}



.filter {
    display: none;
}

.categoria {
    margin-bottom: 70px;
}

.categoria-titolo {
    /* text-align: center; */
    text-transform: capitalize;
    font-family: Barmeno-Medium;
    color: var(--bareto-brown);
    font-size: 24px;
    margin-bottom: 20px;
}
.categoria-titolo::after {
    content: '';
    display: block;
    width: 50%;
    border: 1.5px solid var(--bareto-yellow);
}

.categoria-piatti {
    padding: 0 10px;
}


.piatto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 10px;
}
.piatto.show {
    display: flex;
}

.piatto-nome-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.piatto-nome {
    font-family: Barmeno-Medium;
    color: var(--bareto-brown);
    font-size: 20px;
    line-height: 20px;

    width: 80%;
    overflow: hidden;
}


.piatto-prezzo {
    font-family: Barmeno-Medium;
    color: var(--bareto-brown);
    font-size: 20px;
    line-height: 20px;
    flex-shrink: 0;
    flex-basis: 80px;
    margin-left: 5px;
    text-align: right;
}
.piatto-prezzo::before {
    content: '€ '
}

.piatto-descrizione {
    font-family: MyriadPro-Regular;
    font-style: italic;
    color: var(--bareto-brown);
    font-size: 14px;

    width: 70%;
    margin-bottom: 10px;
}


.footer {
    padding: 20px ;
    background-color: var(--bareto-brown);
    color: var(--light-color);
    text-align: center;
}


@media (max-width: 400px) {
    .filters {
        flex-direction: column;
    }
}